*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
  background-color:#fff000 !important;
}

.jumbo{ 
  background-image: url('john-jennings-fg7J6NnebBc-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}